  *{
  margin: 0;
  padding: 0;
}

.whats{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  border-radius: 50px;
}

.fa-whatsapp{
  margin-top: 16px;
}

ul, ol, li{
list-style: none;
}

.header-container{
  display: flex;
  padding: 5px;
  height: 10vh;
  width: 100%;
  border-bottom: solid 2px #30cece;
}

.pai-logo{
  width: 40%;
  display: flex;
  justify-content: center;
 }



#logo{
  width: 19vw;
  height: 10vh;
}



.container-menu{
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0 0 0 8vw;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}


.item-menu{
  margin-right: 2vw;
}

.item-menu a{
  display: block;
  padding: 20px;
  margin: 0px 10px 0px 10px;  
  color: #000000;
  text-decoration: none;

}

/* main */

.container-contato{
  width: 100%;
  height: 80vh;
  background-color: #0a0a0a;

}

.formulario{
  padding-left: 43vw;
  padding-top: 20vh;

}

.formulario-interno{

  width: 25%;
  height: 42vh;
  background-color: white;
  padding-left: 1rem;
  
}

  .formalurio-interno p{
  
    font-size: 50px;
}

  .f{
    font-weight: bold ;
    font-size: 15px;
  }

  #f1{
    font-weight: bold ;
    font-size: 19px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .btn{
    background-color: #f6c34a;
    padding: 7px 69px 7px 69px;
  }

/* FOTTER */
 

 footer{
  height: 47vh;
  background-color: #f6c34a
;}

.container-rodape2{
display: flex; 
width: 100%;
}

.logo-rodape{
margin: 0 8vh;
padding-bottom: 3.5vh;
}

.bloco-endereco{
width: 40%;
padding-left: 4vw;
}

.links{
padding-right: 9vh;
}

.titulos-rodape{
font-weight: bold;
padding-bottom: 3vh;
color: #000000;
}

.container-redes-sociais{

padding-right: 11vh;
}

.container-redes-sociais ul{
display: flex;
}

.container-redes-sociais ul img{
height: 1.5;
width: 1.5vw;
padding-right: 0.5vw;
}

.menu-rodape a{
color: #000000;
text-decoration: none;
}

.area-restrita a{
color: #000000;
text-decoration: none;
}
